{% extends "base.html" %}
{% load static %}
{% block title %}Products by Category{% endblock %}
{% block content %}
<div class="container">
<br><br><br>
    <h1>Trips in the selected category</h1>

    <div class="card-container">
        {% if products %}
            {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/tour-6.jpg' %}" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">Price: {{ product.price }}</p>
                    <a href="{% url 'add-to-cart' product.id %}" class="btn btn-primary">Add to cart</a>
                    <br><br>
                    <a href="{% url 'add-to-wishlist' product.id %}" class="btn btn-primary">Wishlist</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/carpatian-mountains.jpg' %}" class="card-img-top" alt="No Product Image">
                <div class="card-body">
                    <h5 class="card-title">No products in this category</h5>
                    <p class="card-text">There are currently no products available in this category.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

