{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    <section class="hero" id="home">
        <div class="hero-banner">
            <h1>Exploring Bucovina</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                explicabo debitis est autem dicta.
            </p>
            <a href="#tours" class="btn hero-btn">Explore ours amasing tours</a>
        </div>
    </section>

    <section class="section" id="about">
        <div class="section-title">
            <h2>About <span>us</span></h2>
        </div>

        <div class="section-center about-center">
            <div class="about-img">
                <img
                        src="/static/images/about.jpeg"
                        class="about-photo"
                        alt="awesome beach"
                />
            </div>
            <article class="about-info">
                <h3>Explore the Difference</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
                    quisquam harum nam cumque temporibus explicabo dolorum sapiente odio
                    unde dolor?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
                    quisquam harum nam cumque temporibus explicabo dolorum sapiente odio
                    unde dolor?
                </p>
                <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
            </article>
        </div>
    </section>

    <section class="section services" id="services">
        <div class="section-title">
            <h2>Our <span>Services</span></h2>
        </div>
        <div class="section-center services-center">
            <article class="service">
                <span class="service-icon"><i class="fas fa-wallet fa-fw"></i></span>
                <div class="service-info">
                    <h4 class="service-title">saving money</h4>
                    <p class="service-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Asperiores, officia.
                    </p>
                </div>
            </article>

            <article class="service">
                <span class="service-icon"><i class="fas fa-tree fa-fw"></i></span>
                <div class="service-info">
                    <h4 class="service-title">endless hiking</h4>
                    <p class="service-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Asperiores, officia.
                    </p>
                </div>
            </article>

            <article class="service">
                <span class="service-icon"><i class="fas fa-socks fa-fw"></i></span>
                <div class="service-info">
                    <h4 class="service-title">amazing comfort</h4>
                    <p class="service-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Asperiores, officia.
                    </p>
                </div>
            </article>
        </div>
    </section>

    <section class="section" id="tours">
        <div class="section-title">
            <h2> Amasing <span>Tours</span></h2>
        </div>

        <div class="section-center featured-center">
            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/tour-1.jpeg" class="tour-img" alt=""/>
                    <p class="tour-date">November 26th, 2023</p>
                </div>
                <div class="tour-info">
                    <div class="tour-title">
                        <h4>Bucovina Adventure</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>

            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/stock-photo-vama-village.jpg" class="tour-img" alt=""/>
                    <p class="tour-date">January 1th, 2024</p>
                </div>
                <div class="tour-info">
                    <h4>Best of Moldovita</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>

            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/tour-3.jpeg" class="tour-img" alt=""/>
                    <p class="tour-date">december 15th, 2023</p>
                </div>
                <div class="tour-info">
                    <h4>Explore </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>


            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/stock-photo-vama-village.jpg" class="tour-img" alt=""/>
                    <p class="tour-date">december 5th, 2023</p>
                </div>
                <div class="tour-info">
                    <h4>Highlights</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>

            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/mountain-romania.jpg.jpeg" class="tour-img" alt=""/>
                    <p class="tour-date">december 21th, 2023</p>
                </div>
                <div class="tour-info">
                    <h4>Highlights</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>



            <article class="tour-card">
                <div class="tour-img-container">
                    <img src="/static/images/carpatian-mountains.jpg" class="tour-img" alt=""/>
                    <p class="tour-date">january 7th, 2024</p>
                </div>
                <div class="tour-info">
                    <h4>Mountains</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
                        vitae tempore voluptatum maxime reprehenderit eum quod
                        exercitationem fugit, qui corporis.
                    </p>
                    <div class="tour-footer">
                        <p>
                            <span><i class="fas fa-map"></i></span>
                        </p>
                        <a href="{% url 'create-user' %}" class="btn">Log in for more details</a>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <footer class="section footer">
        <ul class="footer-links">
            <li>
                <a href="#home" class="footer-link">home</a>
            </li>
            <li>
                <a href="#about" class="footer-link">about us</a>
            </li>
            <li>
                <a href="#tours" class="footer-link">amasing tours</a>
            </li>
        </ul>
        <ul class="footer-icons">
            <li>
                <a href="https://www.twitter.com" target="_blank" class="footer-icon"
                ><i class="fab fa-facebook"></i
                ></a>
            </li>
            <li>
                <a href="https://www.twitter.com" target="_blank" class="footer-icon"
                ><i class="fab fa-twitter"></i
                ></a>
            </li>
        </ul>
        <div style="display: inline-flex;">
            <p class="copyright">
                Adresa: Ors. Suceava, Nr 123.
                <span id="date"></span>
            </p>
            &nbsp&nbsp
            <p class="copyright">
                Numar de contact : 1234567.
            </p>
            &nbsp&nbsp
            <p class="copyright">
                CUI &copy; 12345 &copy;A123.
            </p>
            &nbsp
            <p class="copyright">
                IBAN: Romanian Banc.
            </p>
        </div>
        <div style="display: inline-flex;">
            <a href="https://anpc.ro/ce-este-sal/" target="_blank" rel="nofollow">
                <img style="width:250px;margin:5px;" src="https://wpfitness.eu/wp-content/uploads/2022/10/anpc-sal.png"
                     lt="Solutionarea Alternativa a Litigiilor">
            </a><br/>
            <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="nofollow">
                <img style="width:250px;margin:5px;" src="https://wpfitness.eu/wp-content/uploads/2022/10/anpc-sol.png"
                     alt="Solutionarea Online a Litigiilor">
            </a>
        </div>
    </footer>
{% endblock %}