{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>List of Categories</h1>
                <table class="table table-primary table table-striped">
                    <thead>
                        <tr>
                            <th>Category One</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in all_categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.created_at }}</td>
                            <td>{{ category.updated_at }}</td>
                        </tr>
                         {% empty %}
                        <tr>
                            <td colspan="3">No categories available.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


    </div>
{% endblock %}
