{% extends 'base.html' %}
{% block title %}List of Product Categories{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4">
    <h1>List of Products</h1>
    <div class="row row-col-4 row-cols-4 g-4">
        <div class="col-md-12">
            <br>
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="d-flex flex-wrap">
        {% for product in all_products %}
            <div class="col-md-4">
                <div class="card border-primary border-2" style="max-height: 650px;">
                    {% if product.profile %}
                        <img src="{{ product.profile.url }}" class="card-img-top" width="400" height="300" alt="img profile">
                    {% else %}
                        <img src="{% static 'images/stock-photo-sleeping-cutie.jpg' %}" class="card-img-top" width="400" height="300" alt="default image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            Title: {{ product.title }}
                            Category: {{ product.category }}
                        </h5>
                        <h6 class="card-title">Price: {{ product.price }} RON
                            Description: {{ product.description }}
                        </h6>
                        <p class="card-text">Is in stock: {{ product.in_stock }}
                            Is active: {{ product.is_active }}
                        </p>
                        <p class="card-text">Created at: {{ product.created_at }}
                            Updated at: {{ product.updated_at_at }}
                        </p>
                        <div class="card-footer text-center">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    more actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'update-product' product.id %}">Update</a></li>
                                    <li><a class="dropdown-item" href="{% url 'delete-product' product.id %}">Delete</a></li>
                                    <li><a class="dropdown-item" href="{% url 'details-product' product.id %}">View details</a></li>
                                    <li>
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#product_{{ product.id }}">
                                            Delete-modal
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="trainer_{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete - {{ product }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ product }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a href="{% url 'delete-modal-product' product.id %}" class="btn btn-outline-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}