{% extends 'base.html' %}
{% load static %}

{% block title %}List of Trips Categories{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h1>List of our Trips</h1>
        <div class="row row-cols-1 row-cols-md-4 g-3">
            <div class="col-md-6">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <form method="get">
                <div class="card-body">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseWidthExample"
                            aria-expanded="false" aria-controls="collapseWidthExample">
                        Filter Trips
                    </button>
                    <div style="min-height: 10px;">
                        <div class="collapse" id="collapseWidthExample">
                            <div class="card card-body" style="width: 300px;">
                                {{ form_filters.as_p }}
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-success">Filters</button>
                                    <a href="{% url 'list-categories' %}" class="btn btn-outline-secondary">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex flex-wrap">
            {% for product in all_products %}
                <div class="container py-2 my-2">
                <div class="card border-primary border-2" style="max-width: 270px; max-height: 700px;">
                    {% if product.profile %}
                        <img src="{{ product.profile.url }}" class="card-img-top" width="200" height="200"
                             alt="img profile">
                    {% else %}
                        <img src="{% static 'images/tour-6.jpg' %}" class="card-img-top" width="200" height="200"
                             alt="default image">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Title: {{ product.title }}</p>
                            <p>Category: {{ product.category }}</p>
                        </h4>
                        <h6 class="card-title">
                            <p>Price: {{ product.price }} RON</p>
                            <p>Description: {{ product.description }}</p>
                        </h6>
                        <h6 class="card-text">
                            <p>Is in stock: {{ product.in_stock }}</p>
                            <p>Is active: {{ product.is_active }}</p>
                        </h6>
                        <h6>
                            Created at: {{ product.created_at }}
                            Updated at: {{ product.updated_at_at }}
                        </h6>

                        <div class="card-footer text-center">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    more actions
                                </button>
                                <ul class="dropdown-menu">
                                    {% if perms.user.add_user %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'update-product' product.id %}">Update</a></li>
                                    {% endif %}
                                    {% if perms.user.add_user %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'delete-product' product.id %}">Delete</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'details-product' product.id %}">View
                                        details</a></li>
                                    <li><a class="dropdown-item" href="{% url 'add-to-cart' product.id %}">Add to
                                        cart</a></li>
                                    <li><a class="dropdown-item" href="{% url 'add-to-wishlist' product.id %}">Add to
                                        wishlist</a></li>
                                    {% if perms.user.add_user %}
                                        <li>
                                            <button type="button" class="dropdown-item" data-toggle="modal"
                                                    data-target="#product_{{ product.id }}">
                                                Delete-modal
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="product_{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete - {{ product }}</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ product }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="{% url 'delete-modal-product' product.id %}"
                                   class="btn btn-outline-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
