{% extends 'base.html' %}

{% block title %}Update {{ user }} {% endblock %}

{% block content %}
    <div class="container-fluid">
    <br><br><br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">You successfully update {{ user }} password</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success"><span class=emoji>Log out</span></button>
                            <a href="{% url 'home_page' %}" class="btn btn-outline-secondary"><span class=emoji>&#x1F44D;</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}