{% extends 'base.html' %}

{% load static %}

{% block title %} Cart Selected Services {% endblock %}

{% block content %}

    <div class="container-fluid content-holder">
    <br><br><br>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{ current_datetime|date:"d-m-Y H:i:s" }}
                {% if cart_products %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cart</th>
                                <th>Product name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_product in cart_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ cart_product.product.title }}</td>
                                    <td>{{ cart_product.product.price }}</td>
                                    <td>{{ cart_product.quantity }}</td>
                                    <td>{{ cart_product.amount }} RON</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total: </b></td>
                                <td><b>{{ total }} RON</b></td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}